<div class="container">
  <h1>Edit Section</h1>
  <div class="forum-section">
    <div class="panel-body">
      <%= render 'form', section: @section %>
    </div>
  </div>
  <%= link_to 'Back', sections_path %>
</div>